.toolbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: var(--toolbar-width);
    background: light-dark(var(--light-secondary), var(--dark-secondary));
    left: 0;
    top: 0;
    height: calc(100% - 2*var(--padding));
    padding: var(--padding);
}

.content {
    margin-left: calc(var(--toolbar-width) + 2*var(--padding));
    height: calc(100% - 2*var(--padding));
    padding: var(--padding);
    background: light-dark(var(--light-primary), var(--dark-primary));
    padding-left: 10%;
    padding-right: 10%;
}

.inputBox {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.editor_head {
    text-align: right;
}

.editor {
    margin: auto;
    padding: 1em;
    background-color:var(--dark-secondary);
    border-radius:2em;
    width:fit-content;
    margin-top:5em;
}

.close_btn {
    border: 0px solid rgba(0,0,0,0);
    border-radius: 4px;
}

.editor_bg {
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:calc(var(--toolbar-width) + 2*var(--padding));
    text-align: center;
    vertical-align: middle;
}

.dvd {
    border: 2px solid #ffffff;
    flex-grow: 1;
}

.priority[value="1"] {
    accent-color: #e95a5a;
}

.priority[value="2"] {
    accent-color: #e29a47;
}

.priority[value="3"] {
    accent-color: #e2d047;
}

.priority[value="4"] {
    accent-color: #88e247;
}

.priority[value="5"] {
    accent-color: #47dae2;
}

img {
    width:70%;
    padding: 10px 10px 10px 10px;
}
img:hover {
    width:70%;
    padding: 10px 10px 10px 10px;
    background-color: #242424;
    border-radius: 10px;
}

html, body
{
    height: 100%;
    margin:0px;
    font-family:'Consolas', monospace;
}

:root {
    --padding: 5px;
    --toolbar-width:60px;
    color-scheme: light dark;

    --dark-primary: #242424;
    --dark-secondary: #545454;

    --light-primary: #f7f7f7;
    --light-secondary: #d6d4d4;
}