.toolbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: var(--toolbar-width);
    background: light-dark(var(--light-secondary), var(--dark-secondary));
    left: 0;
    top: 0;
    height: calc(100% - 2*var(--padding));
    padding: var(--padding);
}

.content {
    margin-left: calc(var(--toolbar-width) + 2*var(--padding));
    height: calc(100% - 2*var(--padding));
    padding: var(--padding);
    background: light-dark(var(--light-primary), var(--dark-primary));
    padding-left: 10%;
    padding-right: 10%;
}

.textBox {
    width: 20%
}

.dateBox {
    width: 20%
}

.task-editor {
    padding-left: var(--toolbar-width);
}

.task-bg {
    background-color: rgba(0,0,0,0.4);
}

.dvd {
    border: 2px solid #ffffff;
    flex-grow: 1;
}

.priority1 {
    accent-color: #e95a5a;
}

.priority2 {
    accent-color: #e29a47;
}

.priority3 {
    accent-color: #e2d047;
}

.priority4 {
    accent-color: #88e247;
}

.priority5 {
    accent-color: #47dae2;
}

img {
    width:70%;
    padding: 10px 10px 10px 10px;
}
img:hover {
    width:70%;
    padding: 10px 10px 10px 10px;
    background-color: #242424;
    border-radius: 10px;
}

html, body
{
    height: 100%;
    margin:0px;
}

:root {
    --padding: 5px;
    --toolbar-width:60px;
    color-scheme: light dark;

    --dark-primary: #242424;
    --dark-secondary: #545454;

    --light-primary: #f7f7f7;
    --light-secondary: #d6d4d4;
}